<div class="app-container">
  <app-sidebar (toggle)="toggleSidebar()" [isClosed]="isClosed"></app-sidebar>
  <div class="content-container">
    <app-header></app-header>
    <div class="main-content">
      <div class="card">
        <h1>Bienvenue dans IMEX SecureLink</h1>
        <p>IMEX SecureLink est une solution complète pour la gestion de la communication avec les clients bancaires, intégrant la consultation et la gestion des états bancaires.</p>
        <img src="assets/introduction.png" alt="Introduction Image" class="introduction-image">
      </div>
      <div class="card">
        <h2>À propos d'IMEX</h2>
        <p>Information Management Experts ‘IMEX’ est une SS2I spécialisée dans les technologies et systèmes d’informations. Nous offrons des services de développement, formation et accompagnement dans des projets d’envergure pour des domaines tels que les banques, les assurances et les télécommunications.</p>
      </div>
      <div class="card">
        <h2>Fonctionnalités Clés</h2>
        <ul>
          <li>Authentification sécurisée des utilisateurs</li>
          <li>Gestion des utilisateurs et des profils</li>
          <li>Consultation et téléchargement des documents bancaires</li>
          <li>Délégation de droits entre utilisateurs</li>
          <li>Tableau de bord avec statistiques et rapports</li>
        </ul>
      </div>
      <div class="card">
        <h2>Contactez-Nous</h2>
        <p>Pour plus d’informations, contactez-nous à support@Imex.com ou appelez-nous au +123 456 7890.</p>
      </div>
      <div class="card">
        <h2>Nos Clients</h2>
        <img src="assets/clients.png" alt="Nos Clients" class="responsive-image">
      </div>
      <div class="card">
        <h2>Information Management Expert</h2>
        <p>C1 RESIDENCE VENEZIA - BERGES DU LAC II</p>
        <p>Email: contact@imex.com.tn</p>
        <p>Phone: (+216) 71 19 02 34</p>
      </div>
    </div>
  </div>
</div>
